{
  "bar.customModules.storage.paths": [
    "/"
  ],
  "theme.bar.floating": true,
  "theme.bar.location": "top",
  "bar.autoHide": "fullscreen",
  "theme.bar.border.location": "none",
  "theme.bar.enableShadow": false,
  "theme.bar.buttons.enableBorders": false,
  "theme.bar.buttons.windowtitle.enableBorder": false,
  "bar.network.label": true,
  "bar.network.showWifiInfo": true,
  "bar.clock.showTime": true,
  "bar.layouts": {
    "0": {
      "left": [
        "dashboard",
        "workspaces",
        "windowtitle"
      ],
      "middle": [
        "media"
      ],
      "right": [
        "cpu",
        "ram",
        "volume",
        "network",
        "bluetooth",
        "battery",
        "systray",
        "clock",
        "notifications"
      ]
    }
{{- if eq .chezmoi.hostname "anon" }}
    ,"1": {},
    "2": {},
{{- end }}
  },
  "bar.battery.hideLabelWhenFull": false,
  "menus.power.showLabel": true,
  "menus.power.lowBatteryNotification": true,
  "menus.clock.time.military": true,
  "menus.clock.time.hideSeconds": false,
  "bar.clock.showIcon": true,
  "theme.bar.menus.enableShadow": false,
  "menus.media.hideAuthor": false,
  "menus.media.hideAlbum": false,
  "menus.dashboard.shortcuts.left.shortcut1.command": "google-chorme-stable",
  "menus.dashboard.shortcuts.left.shortcut1.tooltip": "Chrome",
  "menus.dashboard.shortcuts.left.shortcut1.icon": "",
  "menus.dashboard.shortcuts.left.shortcut2.command": "spotify",
  "wallpaper.enable": false,
  "theme.bar.menus.background": "#11111b",
  "theme.bar.menus.cards": "#1e1e2e",
  "theme.bar.menus.border.color": "#313244",
  "theme.bar.transparent": true,
  "theme.bar.background": "#11111b",
  "theme.bar.buttons.background": "#242438",
  "theme.bar.buttons.icon_background": "#242438",
  "theme.bar.buttons.dashboard.background": "#242438",
  "bar.workspaces.show_icons": false,
  "bar.workspaces.show_numbered": true,
  "bar.workspaces.workspaceMask": true,
  "theme.bar.margin_top": "0.5em",
  "theme.bar.layer": "top",
  "theme.bar.outer_spacing": "0.2em",
  "theme.bar.border_radius": "0.4em",
  "theme.bar.buttons.y_margins": "0.0em",
  "theme.bar.margin_bottom": "0em",
  "theme.bar.margin_sides": "0em",
  "menus.dashboard.shortcuts.left.shortcut4.command": "wofi --show drun",
  "menus.dashboard.directories.left.directory1.label": "󰉍   Downloads",
  "menus.dashboard.directories.left.directory2.label": "󰉏   Videos",
  "menus.dashboard.directories.left.directory3.label": "󰚝   Projects",
  "menus.dashboard.directories.right.directory1.label": "󱧶   Documents",
  "menus.dashboard.directories.right.directory2.label": "󰉏   Pictures",
  "menus.dashboard.directories.right.directory3.label": "󱂵   Home",
  "menus.dashboard.powermenu.avatar.name": "system",
  "menus.dashboard.stats.enable_gpu": true,
  "menus.dashboard.controls.enabled": true,
  "menus.power.confirmation": false,
  "menus.media.displayTime": false,
  "menus.media.displayTimeTooltip": false,
  "theme.osd.enable": true,
  "theme.bar.menus.menu.notifications.pager.show": true,
  "bar.media.show_label": true,
  "bar.media.truncation": true,
  "bar.media.show_active_only": true,
  "bar.media.truncation_size": 150,
  "bar.media.format": "{artist: | }{album: | }{title}",
  "theme.bar.buttons.spacing": "0.25em",
  "menus.transition": "none",
  "theme.font.weight": 600,
  "theme.font.size": "1.2rem",
  "theme.bar.menus.menu.power.scaling": 100,
  "theme.bar.menus.border.size": "0.13em",
  "theme.bar.menus.border.radius": "0.7em",
  "menus.clock.weather.location": "Perth",
  "menus.clock.weather.unit": "metric",
  "scalingPriority": "both",
  "menus.clock.weather.key": "{{ onepasswordRead "op://Personal/www.weatherapi.com/token" }}"
}
