{
    "current": "https://api.pulumi.com",
    "accessTokens": {
        "https://api.pulumi.com": "{{ onepasswordRead "op://Personal/pulumi/token" }}"
    },
    "accounts": {
        "https://api.pulumi.com": {
            "accessToken": "{{ onepasswordRead "op://Personal/pulumi/token" }}",
            "username": "mbwilding",
            "organizations": [
                "mbwilding",
                "{{ onepasswordRead "op://Work/Work/org lower" }}"
            ],
            "lastValidatedAt": "2025-05-27T11:53:21.370476845+08:00"
        }
    }
}
