export LANG=en_AU.UTF-8
export LC_ALL=en_AU.UTF-8
export XDG_CONFIG_HOME="$HOME/.config"

export EDITOR="nvim"
export MANPAGER="nvim +Man!"
export MANWIDTH="999"

export RUST_LOG="info"
export AWS_PROFILE="md"
export AWS_REGION="ap-southeast-2"

export PULUMI_CONFIG_PASSPHRASE=""

export DOTNET_ASPIRE_CONTAINER_RUNTIME="podman"
export DOTNET_CLI_TELEMETRY_OPTOUT="1"

export JIRA_API_TOKEN="{{ onepasswordRead "op://Work/b7ewaa5m4yd3tdjhqgdqh3iywu/credential" }}"
export JIRA_DOMAIN="{{ onepasswordRead "op://Work/wncpsqiuomufjfp3de5a5i62ja/org lower" }}.atlassian.net"
export JIRA_HOST="https://{{ onepasswordRead "op://Work/wncpsqiuomufjfp3de5a5i62ja/org lower" }}.atlassian.net"
export JIRA_USER="{{ onepasswordRead "op://Work/wncpsqiuomufjfp3de5a5i62ja/id email" }}"

export AZP_TOKEN="{{ onepasswordRead "op://Work/apoooazrwiju4p7rlw25f3wvnq/credential" }}"
export GH_PAT="{{ onepasswordRead "op://Work/ela74q3bqzotgmgn6r3stz73ca/token" }}"
export GITLAB_TOKEN="{{ onepasswordRead "op://Work/fse6gaejmqqmgrm2wgbko6spiu/token" }}"
export GITHUB_TOKEN_PERSONAL="{{ onepasswordRead "op://Personal/wk25sxx6lghrbgfopekvklxaxi/token" }}"
export GITHUB_TOKEN_WORK="{{ onepasswordRead "op://Work/ela74q3bqzotgmgn6r3stz73ca/token" }}"

export CARGO_REGISTRY_TOKEN="{{ onepasswordRead "op://Personal/juxv3lubmlzta27fs7h6qqhfvm/token" }}"
export ELEVENLABS_API_KEY="{{ onepasswordRead "op://Personal/ga2zhoelehybeje7ddbpuyl4be/token" }}"
export PULUMI_ACCESS_TOKEN="{{ onepasswordRead "op://Personal/my5swvdfpgphfqdggd7jep2wua/token" }}"
export STEAM_API_KEY="{{ onepasswordRead "op://Personal/phz3xzmqi3ckqq4gmmjgyqjtkq/credential" }}"
export WEATHER_API_TOKEN="{{ onepasswordRead "op://Personal/6rbwngv4qmkl3cnafq4k33joi4/token" }}"

export ANTHROPIC_API_KEY="{{ onepasswordRead "op://Personal/qivkkinlkl4dra4s7gj6fixbgy/token" }}"
export DEEPSEEK_API_KEY="{{ onepasswordRead "op://Personal/3tnvgxs6xwg4qtfqvlcgtdbfgm/credential" }}"
export OPENAI_API_KEY="{{ onepasswordRead "op://Personal/gg6yxvjaibaotxmspulrt7jk3q/api key" }}"
export GEMINI_API_KEY="{{ onepasswordRead "op://Personal/4pt7b4zuyer2ceek2zkcf4zd44/api key" }}"
{{ if eq .chezmoi.os "linux" }}
export ELECTRON_OZONE_PLATFORM_HINT="wayland"
# export SDL_VIDEODRIVER=wayland
# export QT_QPA_PLATFORM="wayland"
export DXVK_HDR=1
export PROTON_ENABLE_HDR=1
export PROTON_ENABLE_WAYLAND=1
export PROTON_USE_NTSYNC=1
export GODOT4_BIN="/usr/bin/godot"
{{- if eq .chezmoi.hostname "nona" }}
export WAYLANDDRV_PRIMARY_MONITOR=eDP-1
export VDPAU_DRIVER="radeonsi"
export LIBVA_DRIVER_NAME="radeonsi"
{{- end }}
{{- if eq .chezmoi.hostname "anon" }}
export WAYLANDDRV_PRIMARY_MONITOR=HDMI-A-1
export ENABLE_HDR_WSI=1
export VDPAU_DRIVER="nvidia"
export LIBVA_DRIVER_NAME="nvidia"
export PIPEWIRE_LATENCY="64/44100"
{{- end }}
if [ -z "$SSH_AUTH_SOCK" ]; then
  export SSH_AUTH_SOCK="$HOME/.1password/agent.sock"
fi
{{ else if eq .chezmoi.os "darwin" }}
if [ -z "$SSH_AUTH_SOCK" ]; then
  export SSH_AUTH_SOCK="$HOME/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
fi
{{- end -}}
