splash = false
{{- if eq .chezmoi.hostname "anon" }}
preload = ~/Pictures/Wallpapers/space-shuttle-retrowave-digital-art-4k-wallpaper-uhdpaper.com-100@5@h.jpg
wallpaper = DP-1, ~/Pictures/Wallpapers/space-shuttle-retrowave-digital-art-4k-wallpaper-uhdpaper.com-100@5@h.jpg
wallpaper = DP-2, ~/Pictures/Wallpapers/space-shuttle-retrowave-digital-art-4k-wallpaper-uhdpaper.com-100@5@h.jpg
wallpaper = HDMI-A-1, ~/Pictures/Wallpapers/space-shuttle-retrowave-digital-art-4k-wallpaper-uhdpaper.com-100@5@h.jpg
{{- end }}
{{- if eq .chezmoi.hostname "nona" }}
preload = ~/Pictures/Wallpapers/space-shuttle-retrowave-digital-art-4k-wallpaper-uhdpaper.com-100@5@h.jpg
wallpaper = eDP-1, ~/Pictures/Wallpapers/space-shuttle-retrowave-digital-art-4k-wallpaper-uhdpaper.com-100@5@h.jpg
wallpaper = DP-6, ~/Pictures/Wallpapers/space-shuttle-retrowave-digital-art-4k-wallpaper-uhdpaper.com-100@5@h.jpg
wallpaper = DP-7, ~/Pictures/Wallpapers/space-shuttle-retrowave-digital-art-4k-wallpaper-uhdpaper.com-100@5@h.jpg
{{- end }}
