source = ~/.config/hypr/settings.conf
source = ~/.config/hypr/env.conf
source = ~/.config/hypr/display.conf
source = ~/.config/hypr/input.conf
source = ~/.config/hypr/bind.conf
{{- if eq .chezmoi.hostname "anon" }}
source = ~/.config/hypr/workspace.conf
{{- end }}
source = ~/.config/hypr/start.conf
