# https://wiki.hyprland.org/Configuring/Variables/#input
input {
    kb_layout = us
{{- if eq .chezmoi.hostname "nona" }}
    kb_variant = dvorak
{{- else }}
    kb_variant =
{{- end }}
    kb_model =
    kb_options =
    kb_rules =

    follow_mouse = 0
    sensitivity = 0

    touchpad {
        natural_scroll = true
        scroll_factor = 0.2
    }

    repeat_rate = 63
    repeat_delay = 195
}
