# https://wiki.hyprland.org/Configuring/Variables/#input
input {
    kb_layout = us
{{- if eq .chezmoi.hostname "nona" }}
    kb_variant = dvorak
{{- else }}
    kb_variant =
{{- end }}
    kb_model =
    kb_options =
    kb_rules =

    sensitivity = 0
    follow_mouse = 1
    # mouse_refocus = false

    touchpad {
        natural_scroll = true
        scroll_factor = 0.2
    }

    repeat_rate = 63
    repeat_delay = 195
}

# https://wiki.hypr.land/Configuring/Variables/#cursor
cursor {
    no_hardware_cursors = 2
    no_break_fs_vrr = 2
    hide_on_key_press = true
    hide_on_touch = true
    no_warps = false
}
