<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="github" value="https://nuget.pkg.github.com/rwwa/index.json" />
    <add key="azdo" value="https://pkgs.dev.azure.com/RWWA/_packaging/RWWA/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="{{ onepasswordRead "op://Work/github/username" }}" />
      <add key="ClearTextPassword" value="{{ onepasswordRead "op://Work/github/token" }}" />
    </github>
    <azdo>
      <add key="Username" value="{{ onepasswordRead "op://Work/Email - TAB/username" }}" />
      <add key="ClearTextPassword" value="{{ onepasswordRead "op://Work/azure-devops/credential" }}" />
    </azdo>
  </packageSourceCredentials>
</configuration>
